<%= form_with(model: author, local: true) do |form| %>
    <% if author.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

          <ul>
            <% author.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :author_title %>
    </div>

    <div class="field">
      <%= form.label :surname %>
      <%= form.text_area :surname, id: :author_description %>
    </div>

    <div class="field">
      <%= form.label :agreement %>
      <%= form.check_box :agreement, id: :author_agreement %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>