<p id="notice"><%= notice %></p>

<h1>Authors</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Show</th>
  </tr>
  </thead>

  <tbody>
  <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td><%= author.surname %></td>
        <td><%= link_to 'Show', author %></td>
      </tr>
  <% end %>
  </tbody>
</table>
