<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @author.surname %>
</p>

<br>
<h1>Books</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Show</th>
  </tr>
  </thead>

  <tbody>
  <% @author.books.where(favor: true).each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
        <td><%= link_to 'Show', book %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back', authors_path %>
