<%= form_with(model: book, local: true) do |form| %>
    <% if book.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

          <ul>
            <% book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, id: :book_title %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, id: :book_description %>
    </div>

    <div class="field">
      <%= form.label :author_ids %>
      <%= form.collection_select :author_ids, Author.all, :id, :name, {}, {multiple: true} %>
    </div>

    <div class="field">
      <%= form.label :category_ids %>
      <%= form.collection_select :category_ids, Category.all, :id, :title, {}, {multiple: true} %>
    </div>

    <div class="field">
      <%= form.file_field :image %>
    </div>

    <div class="field">
      <%= form.label :agreement %>
      <%= form.check_box :agreement, id: :book_agreement %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>