<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @book.image_url(:thumb) if @book.image? %>
</p>

<p>
  <strong>Categories:</strong>
  <ul>
    <% @book.categories.each do |category| %>
      <li><%= category.title %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Authors:</strong>
  <ul>
    <% @book.authors.each do |author| %>
        <li><%= author.name %>|<%= author.rating %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Rating book:</strong>
  <div id="rating"><%= @book.rating %></div>
</p>

<hr>
<div id="review">
  <strong>Reviews:</strong><br>
  <% @book.reviews.order(created_at: 'desc').each do |review| %>
      <%= review.text %>|<strong><%= review.user.name %></strong><br>
  <% end %>
</div>
<hr>

<div id="photos">
  <% @book.book_images.each do |book_image| %>
    <%= image_tag book_image.file_url(:thumb) if book_image.file? %>
  <% end %>
</div>

<p><strong>Rating review</strong></p>
<%= form_tag "/ratings/#{@book.id}", remote: true do %>
  <%= number_field_tag :number, nil, in: 1...10 %>
  <%= submit_tag 'Add Rating' %>
<% end %>



<p><strong>Review message</strong></p>
<%= form_tag "/reviews/#{@book.id}", remote: true do %>
    <%= text_field_tag :file %>
    <%= submit_tag 'Add Review' %>
<% end %>

<br>
<p><strong>Add new photo</strong></p>
<%= form_tag "/book_images/#{@book.id}", remote: true, :enctype =>"multipart/form-data" do %>
    <%= file_field_tag :file %>
    <br>
    <%= submit_tag 'Add Image' %>
<% end %>
<br>

<%= link_to 'Back', books_path %>
